<div class="dash-cont">
  <div class="main p-2 flex-wrap">
    <div
      class="duration"
      (click)="getDashboard(0)"
      [ngClass]="{ active: selectedIndex === 0 }"
    >
      <span>current</span>
    </div>
    <div
      class="duration"
      (click)="getDashboard(1)"
      [ngClass]="{ active: selectedIndex === 1 }"
    >
      <span>Last Shift</span>
    </div>
    <div
      class="duration"
      (click)="getDashboard(2)"
      [ngClass]="{ active: selectedIndex === 2 }"
    >
      <span>Last Day</span>
    </div>
    <div
      class="duration"
      (click)="getDashboard(3)"
      [ngClass]="{ active: selectedIndex === 3 }"
    >
      <span>Last Month</span>
    </div>
    <div
      class="duration"
      (click)="getDashboard(4)"
      [ngClass]="{ active: selectedIndex === 4 }"
    >
      <span>Last Year</span>
    </div>
  </div>
  <ng-container *ngIf="!isLoading">
    <div class="kpi-cards mt-5 p-4">
      <div
        class="card d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="label">Production</span>
        <span class="value">{{ kpiCards?.count?.toFixed(2) ?? "0" }}</span>
        <span class="label">metres</span>
      </div>

      <div
        class="card d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="label">Avg Speed</span>
        <span class="value">{{ kpiCards?.avgSpeed?.toFixed(2) ?? "0" }}</span>
        <span class="label">PRM</span>
      </div>
      <div
        class="card d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="label">Production Rate</span>
        <span class="value">{{
          kpiCards?.prodProductivity_rate?.toFixed(2) ?? "0"
        }}</span>
        <span class="label">(m/min)</span>
      </div>
      <div
        class="card d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="label">Stitches</span>
        <span class="value">{{ kpiCards?.stitches?.toFixed(2) ?? "0" }}</span>
        <span class="label">/100m</span>
      </div>
      <div
        class="card d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="label">Production</span>
        <span class="value">{{
          kpiCards?.stopsDuration?.toFixed(2) ?? "0"
        }}</span>
        <span class="label">(min)</span>
      </div>
    </div>

    <div class="mt-5 d-flex gap-3 flex-md-nowrap flex-wrap px-4">
      <div class="donat p-3">
        <div style="max-width: 180px; margin: auto">
          <canvas
            baseChart
            [data]="doughnutChartData"
            [options]="doughnutChartOptions"
            [plugins]="centerTextPlugin"
            [type]="'doughnut'"
          >
          </canvas>
        </div>
      </div>
      <div class="donat p-3">
        <div style="max-width: 180px; margin: auto">
          <canvas
            baseChart
            [data]="doughnutChartData2"
            [options]="doughnutChartOptions2"
            [plugins]="centerTextPlugin2"
            [type]="'doughnut'"
          >
          </canvas>
        </div>
      </div>
    </div>

    <div class="my-5 d-flex gap-3 px-4 flex-md-nowrap flex-wrap">
      <div
        class="donat d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="value">{{ kpiCards?.totalNormalStops ?? "0" }}</span>
        <span class="label">No Of Normal Stops</span>
      </div>

      <div
        class="donat d-flex gap-2 flex-column p-3 justify-content-center align-items-center"
      >
        <span class="value">{{ kpiCards?.totalYarnStops ?? "0" }}</span>
        <span class="label">No Of Yern Stops</span>
      </div>
    </div>
  </ng-container>

  <app-spinner *ngIf="isLoading"></app-spinner>
</div>
